.goods
  border-radius: 5px
  width: 250px
  top: 50%
  margin: 20px
  border: 1px solid rgba(0,0,0,0.3)
  h2
    font-size: 30px
    text-transform: uppercase
    text-align: center
    color: #FFFFFF
  p
    color: #FFFFFF
    text-align: center
    padding: 10px 0

.imageGood
  width: 240px
  height: 240px
  border-top-left-radius: 5px
  border-top-right-radius: 5px
  padding: 5px
  background-color: white
  img
    width: calc(100% - 10px)